.swap-container{
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 630px;
  gap:1px;
  height: 320px;
  margin-top: 30px;
  left:50%;
  transform: translateX(-50%);
}

.swap-btn{
  position: relative;
  width: 100%;
  max-width: 630px;
  height: 70px;
  background: linear-gradient(180deg, #724dc7 0%, #987DD9 100%);
  color: white;
  border-radius: 0 0 5px 5px;
  border: 1px solid black;
  border-top: 0;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;  
  font-weight: bold;
  font-size: x-large;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  &:hover{
    cursor: pointer;
          
    &:after{
      content: '';
      position: absolute;
      border-radius: 5px;
      width: 100%;
      height: 100%;
      background-color: #987DD9;
      mix-blend-mode: lighten;
    }
  }
}

.swapUI{
    display: flex;
    gap:1px;
    position: relative;
    top: 20px;
    max-width: 630px;

    .switch-btn{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 50%;
        top:65%;
        transform: translate(-50%,-50%);
        width: 60px;
        height: 60px;
        border: 1px solid white;
        background: linear-gradient(180deg, #4d3192 0%, #6543b6 100%);
        color: white;
        font-size: 35px;

        &:hover{
          cursor: pointer;
          
          &:after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #987DD9;
            mix-blend-mode: lighten;
          }
        }
    }
}

.swap-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    background: linear-gradient(180deg, #261355 0%, #734ECB 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    padding-top: 20px;
    padding-bottom: 15px;
    max-width: 315px;
    width: 100%;
    height: 205px;

    &.right{
        padding-right: 12px;
        align-items: flex-end;
        border-radius: 0 5px 0 0;
        border: 1px solid black;
        border-left: 0;
        border-bottom: 0;

        .input-field{
            text-align: end;
        }
    
        .input-field label,.info {
          padding-right: 0.2em;
        }
    }

    &.left{
        padding-left: 12px;
        border-radius: 5px 0 0 0;
        border: 1px solid black;
        border-right: 0;
        border-bottom: 0;
    
        .input-field label,.info {
          padding-left: 0.2em;
        }
    }
  
    .input-field {
      width: 80%;
      margin-top: 10px;

      /* Pour Chrome, Safari, Edge, Opera */
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Pour Firefox */
        input[type="number"] {
            -moz-appearance: textfield;
        }
    }
    
    .input-field label {
      display: block;
      margin-bottom: 5px;
      font-size: 14px;
      padding-left: 0.2em;
    }
    
    .input-field input {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ddd;
      font-size: 16px;
      box-sizing: border-box;
      text-align: end;
    }
    
    .info {
      font-size: 14px;
      color: #ddd;
      margin-top: 10px;
      padding-left: 0.2em;
    }
  }
  